//
// Warnings for unsupported browsers
// 

#nomodule {
  display: none;
}

.oldbrowser {
  min-height: 100%;
  background: #FFF019;

  h1 {
    font-size: 3rem;
  }

  a {
    color: inherit;
  }

  a:hover,
  a:focus {
    color: #FFF;
    background: #000;
  }

  .oldbrowser_text {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    padding: 10rem 1.25rem;
    font-weight: bold;
  }
}
