//
// FOOTER
//

.footer {
  margin-top: auto;
  font-size: 80%;

  a {
    text-decoration: none;
  }
}

.footer_lastrow { 
  margin: 2 * $padding $padding $padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include desktop() {
    margin: 4 * $padding 4vw 2 * $padding;
  }
}

.footer_copyright {
}

.footer_backtotop {
  text-align: right;
}

.footer_slash {
  color: $color-text-muted;
}

.footer_arrow-up {
  padding-bottom: .2em;
}