//
// TABLE
// 

table {
  border-spacing: 0;
  width: 100%;
  font-size: 90%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: .5rem;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

.noborder td {
  padding: .2rem 0;
  border: 0 !important;
}