{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<div class="description">{{ . }}</div>{{ end }}
    {{ if .IsPage }}<div class="update">Letztes Update am {{ .Lastmod.Format "02.01.2006" }}</div>{{ end }}
    <div class="content">
      {{ .Content | replaceRE "(<h[2-6] id=\"([^\"]+)\".+)(</h[2-6]+>)" `${1} <a href="#${2}" class="anchor"><svg class="anchor_icon"><use xlink:href="#anchor" /></svg></a> ${3}` | safeHTML }}
    </div>
    <div id="icons">
      <svg id="anchor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
      </svg>
      <svg id="external-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
        <polyline points="15 3 21 3 21 9" />
        <line x1="10" y1="14" x2="21" y2="3" />
      </svg>
    </div>
  </main>
{{ end }}
