<noscript>
    <div class="oldbrowser">
        <div class="oldbrowser_text">
            <h1>Oops...</h1>
            <p>This website uses JavaScript to work. Please enable it - there's no bloat included.</p>
        </div>
    </div>
</noscript>
<div id="nomodule" class="oldbrowser">
    <div class="oldbrowser_text">
        <h1>Oops...</h1>
        <p>This website is made for modern browsers. You are
            seeing this, because your browser is missing a feature or two. Please
            install the latest update or switch to a <a href="https://browsehappy.com" target="_blank">modern
            browser</a>. See you soon.</p>
    </div>
</div>
