<div class="footer">
    <div class="footer_lastrow">
      <div class="footer_copyright">
        &copy; {{ now.Format "2006" }}
        {{- $current := . -}}
        {{- range .Site.Menus.sub -}}
          <span class="footer_slash"> &nbsp; / &nbsp; </span><a class="footer_link{{ if in $current.RelPermalink .URL }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        {{- end }}
      </div>
      <div class="footer_backtotop"><a href="#">
        <svg class="footer_arrow-up" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
          <line x1="12" y1="19" x2="12" y2="5" />
          <polyline points="5 12 12 5 19 12" />
        </svg>
        Back to top</a></div>
    </div>
</div>
